.box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    margin: 5%;
    text-transform: capitalize;

}
.box p{
    font-size: 25px;
    font-weight: 500;
}
button{
    background: white;
    border: none;
    border-radius: 50px;
    padding: 5px 10px;
    margin-left: 10px;
    transition: background 2s;
}
button{
    transition: 0.1s;
}
button:hover{
    color: white;
    background: black;

    
}
#i{
    transition: 0.5s;
}
#i:hover{
    transform: scale(1.1); 
}
